In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Male,MV,2022-04-27 18:35:15,4.1748,73.5089,84.07,71,100,3.89
1,1,Meulaboh,ID,2022-04-27 18:35:15,4.1363,96.1285,77.99,89,65,2.55
2,2,Batagay-Alyta,RU,2022-04-27 18:35:16,67.8006,130.4114,2.77,95,100,4.59
3,3,Barrow,US,2022-04-27 18:31:03,71.2906,-156.7887,5.02,85,100,14.97
4,4,Abu Dhabi,AE,2022-04-27 18:33:11,24.4667,54.3667,84.31,63,0,5.75

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent winds
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Male,MV,2022-04-27 18:35:15,4.1748,73.5089,84.07,71,100,3.89
1,1,Meulaboh,ID,2022-04-27 18:35:15,4.1363,96.1285,77.99,89,65,2.55
4,4,Abu Dhabi,AE,2022-04-27 18:33:11,24.4667,54.3667,84.31,63,0,5.75
17,17,San Antonio,US,2022-04-27 18:34:08,29.4241,-98.4936,80.94,59,75,11.50
19,19,Cabo San Lucas,MX,2022-04-27 18:32:46,22.8909,-109.9124,88.11,26,0,12.66
20,20,Adrar,MR,2022-04-27 18:35:23,20.5022,-10.0711,79.97,13,0,8.97
21,21,Port Keats,AU,2022-04-27 18:35:23,-14.2500,129.5500,79.05,81,79,3.51
23,23,Sao Miguel Do Araguaia,BR,2022-04-27 18:35:24,-13.2750,-50.1628,87.21,45,4,5.61
27,27,Rikitea,PF,2022-04-27 18:35:27,-23.1203,-134.9692,77.34,72,8,25.21
28,28,Nisia Floresta,BR,2022-04-27 18:35:28,-6.0911,-35.2086,86.38,76,100,9.66

In [22]:
preferred_cities_df.count()

City_ID       184
City          184
Country       183
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                      City Country  Max Temp      Lat       Lng Hotel Name
0                     Male      MV     84.07   4.1748   73.5089
1                 Meulaboh      ID     77.99   4.1363   96.1285
4                Abu Dhabi      AE     84.31  24.4667   54.3667
17             San Antonio      US     80.94  29.4241  -98.4936
19          Cabo San Lucas      MX     88.11  22.8909 -109.9124
20                   Adrar      MR     79.97  20.5022  -10.0711
21              Port Keats      AU     79.05 -14.2500  129.5500
23  Sao Miguel Do Araguaia      BR     87.21 -13.2750  -50.1628
27                 Rikitea      PF     77.34 -23.1203 -134.9692
28          Nisia Floresta      BR     86.38  -6.0911  -35.2086

In [47]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
  # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

KeyboardInterrupt:

In [37]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Male,MV,84.07,4.1748,73.5089,Hotel Octave Maldives
1,Meulaboh,ID,77.99,4.1363,96.1285,Kost Pria
4,Abu Dhabi,AE,84.31,24.4667,54.3667,Beach Rotana
17,San Antonio,US,80.94,29.4241,-98.4936,Drury Plaza Hotel San Antonio Riverwalk
19,Cabo San Lucas,MX,88.11,22.8909,-109.9124,Hotel Tesoro Los Cabos
20,Adrar,MR,79.97,20.5022,-10.0711,
21,Port Keats,AU,79.05,-14.2500,129.5500,TDC Village (Hundred Man Camp)
23,Sao Miguel Do Araguaia,BR,87.21,-13.2750,-50.1628,Hotel Executivo Palace
27,Rikitea,PF,77.34,-23.1203,-134.9692,People ThankYou
28,Nisia Floresta,BR,86.38,-6.0911,-35.2086,Rancho Crepusculo

In [38]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))